# Data Science Tools and Ecosystem

## In this notebook, Data Science tools and Ecosystems are summarized.

### Objectives:
* List some of the popular languages Data Scientists use
* List commonly used libraries used by Data Scientists
* List some of the popular Tools used by Data Scientists 
* Evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include: 
1. Panads 
2. Keras 
3. PyTorch 
4. NumPy

|Data Science Tools|
|------------------|
|Apache Spark|
|RStudio|
|Project Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
(200/60)
# his will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Vernon Sanders